<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Index xxx | NFPA</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>


<body>
<div id="main-menu" class="ui menu">
    <div id="header-container" class="ui one column grid container">
        <div class="column">
            <a class="item" href="/">
                <img src="/images/logo.png">
            </a>
            <div id="slogan" class="item">NFPA Zabaan Platform</div>
        </div>
    </div>
</div>


<div class="block-wrapper">
    <div class="ui special cards">
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui negative button"><a href="translate.html">Try Now</a></div>
                        </div>
                    </div>
                </div>
                <img src="images/book.jpg">
            </div>
            <div class="content">
                <a class="header" href="translate.html">Translate your Content</a>
                <div class="meta">
                    <span class="date">See you translations in action in real time by entering sentences or uploading documents</span>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui negative button"><a href="validate.html">Help Now</a></div>
                        </div>
                    </div>
                </div>
                <img src="images/correction.jpg">
            </div>
            <div class="content">
                <a class="header" href="validate.html">Teach the machine</a>
                <div class="meta">
                    <span class="date">Help us improve to more accurate translations by providing your valuable Code and Standards expertise and feedback on our existing translations</span>
                </div>
            </div>


        </div>

        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <!--<div class="content">-->
                        <!--<div class="center">-->
                            <!--<div class="ui negative button"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <img src="images/network.png">
            </div>
            <div class="content">
                <a class="header">Contact Us</a>
                <div class="meta">
                    <span class="date">Get in touch with the Team and learn more about the techniques used behind the scenes for Language Translation</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="head-gray">
    <div class="text">
        <div class="ui one column grid container">
            <p>NFPA Zabaan is an early prototype machine translation tool aimed at automatically translating the technical
                language used in NFPA code and standards. NFPA Zabaan is built on leading open source neural machine
                translation and natural language processing platforms and is being developed by data scientists in
                NFPA’s
                Research and Data Analytics department. Right now, Zabaan focuses on English to Spanish translations and
                we
                hope to expand to other languages in the future.</p>
            <p>Although Zabaan is still very much a work in progress, here are a few situations where we hope Zabaan may be
                of
                use in the future:</p>

            <ul>
                <li>NFPA subject matter experts who need quick, ad hoc translations of code-related content</li>
                <li>Professional translators working with NFPA text that contains very domain-specific language</li>
                <li>Officials who need to engage with non-English speaking communities on technical fire and electrical
                    safety concepts
                </li>
                <li>Public education teams and researchers who want to efficiently translate entire files such as
                    reports
                    and fact sheets.
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

<script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>

</html>