<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Translate | NFPA</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/translate.css">
</head>


<body>
    <div id="main-menu" class="ui menu">
    <div id="header-container" class="ui one column grid container">
        <div class="column">
            <a class="item" href="/">
                <img src="/images/logo.png">
            </a>
            <div id="slogan" class="item">NFPA Zabaan Platform</div>
        </div>
    </div>
</div>


    <div class="head-gray"></div>

    <div class="ui one column grid container">
        <div class="action-row">
    <div class="ui grid">
        <div class="eight wide column">
            
                <a href="/translate.html">
                    <button class="ui basic large button page-button current">
                        <i class="font icon"></i>Text
                    </button>
                </a>
                <a href="/upload.html">
                    <button class="ui basic large button page-button  ">
                        <i class="file icon"></i>File
                    </button>
                </a>
            
        </div>

        
    </div>
</div>


        <div class="ui one column panel">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui one column centered grid">
    <div class="centered row lang-select-line">
        <div id="src-dropdown" class="ui dropdown">
            <div class="text">Source Language</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">EN</div>
            </div>
        </div>
        <i class="exchange icon"></i>
        <div id="tgt-dropdown" class="ui dropdown current">
            <div class="text">Target Language</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">ES</div>
                <div class="item">FR</div>
                <div class="item">IT</div>
                <div class="item">PT</div>
                <div class="item">RO</div>
            </div>
        </div>
    </div>
</div>
                    <div id="input-pair" class="ui grid">
    <div class="eight wide column left-textarea-block">
        <textarea name="" id="src-text" rows="10"></textarea>
    </div>
    <div class="eight wide column">
        <textarea name="" id="target-text" rows="10"></textarea>
    </div>
</div>

                </div>
                <div class="ui secondary segment">
                    <!--<p>Translation BLEU Score: 0.3216</p>-->
                </div>
            </div>
        </div>

        <div id="more-info" class="ui one column hide">
            <div class="ui segment">
                <div class="ui top attached large label">More Information</div>
                <div id="processed-text"></div>
                <div id="vocab-check-en"></div>
                <div id="vocab-check-es"></div>
                <div id="align">
                    <div id="alignment-text"></div>
                    <img id="alignment-fig"></img>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/common.js"></script>
<script src="js/translate.js"></script>

</html>